<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DeaneryDbConnectionString"
            connectionString="Data Source=DESKTOP-0M3CKCP\SQLEXPRESS;Initial Catalog=DeaneryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>